/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  overflow-y: scroll;
}
p {
  margin-bottom: 0.25rem;
}

::marker {
  text-transform: -5px;
}

.tabs-box {
  background-image: url('/images/tabs-box-m.svg');
  background-size: 100% 100%;
  @apply bg-no-repeat;
}
@media (min-width: 768px) {
  .tabs-box {
    background-image: url('/images/tabs-box.svg');
  }
}

.slider-box {
  background-image: url('/images/slider-box.svg');
  background-size: 100% 100%;
  @apply bg-no-repeat;
}

.cases-box {
  background-image: none;
  @apply border border-indigo-400 bg-white;
}
@media (min-width: 768px) {
  .cases-box {
    background-image: url(/images/cases-box.svg);
    background-size: 100% 100%;
    @apply bg-no-repeat border-0 bg-transparent;
  }
}

.cases-box .splide__pagination__page {
  border: 1px solid #3b5bfb;
}

.cases-box .splide__pagination__page.is-active {
  background: #3b5bfb;
}

.cases-box2 {
  background-image: none;
  @apply border border-primary bg-white;
}
@media (min-width: 768px) {
  .cases-box2 {
    background-image: url(/images/cases-box2.svg);
    background-size: 100% 100%;
    @apply bg-no-repeat border-0 bg-transparent;
  }
}

.lessons .lesson-box {
  background-image: url('/images/card-pink.svg');
  background-size: 100% 100%;
  @apply bg-no-repeat;
}

.lessons .lesson-box:nth-child(even) {
  background-image: url('/images/card-indigo.svg');
}

.lessons .lesson-box:nth-child(even) > h5,
.lessons .lesson-box:nth-child(even) > h4 {
  @apply text-indigo-300
}

.splide__pagination {
  bottom: -3em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1
}

.cases .splide__pagination {
  bottom: -4em;
}

.splide__pagination__page {
  background: #fff;
  border: 1px solid #ff5787;
  border-radius: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 8px;
  padding: 0;
  position: relative;
  transition: transform .2s linear;
}

.splide__pagination__page.is-active {
  background: #ff5787;
  transform: scale(1.08);
  z-index: 1;
  opacity: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}


.splide .splide__slide h3,
.splide .splide__slide h4,
.splide .splide__slide h5,
.splide .splide__slide p {
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translateY(-20%);
}
.splide .splide__slide h3:nth-child(2),
.splide .splide__slide h5 {
  transition-delay: 0.2s;
}
.splide  .splide__slide p {
  transition-delay: 0.4s;
}

.splide .splide__slide > .flex > div:nth-child(1),
.splide .splide__slide .flex .flex-shrink {
  opacity: 0;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.splide .splide__slide.is-active h3,
.splide .splide__slide.is-active h4,
.splide .splide__slide.is-active h5,
.splide .splide__slide.is-active > .flex > div:nth-child(1),
.splide .splide__slide.is-active .flex .flex-shrink,
.splide .splide__slide.is-active p {
  opacity: 1;
  transform: translateY(0%);
}
